# Required
# Password for the devops user created on all VMs
DEVOPS_PASSWORD=

# --------------------------------------------------------------
# Optional
# URL of an apt-cacher-ng proxy to speed up package downloads
# during provisioning. See README for setup instructions.
# APT_CACHE_URL=http://192.168.56.1:3142